*:focus, *:focus-visible, *:focus-within {
  outline: none;
  border: none;
}

input[type='submit'] {
  all: unset
}

@font-face {
  font-family: 'work-sans';
  src: url('./assets/WorkSans-VariableFont_wght.ttf');
}

body {
  margin: 0;

  font-family: 'work-sans';
}

.App {
  height: 100vh;
  min-height: 720px;
  width: 100vw;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 6px;
  color: black;

  font-size: .8vw;
}

.container-outer {
  width: 45vw;
  height: 80vh;
  min-height: 575px;
  max-height: 935px;
  display: flex;
  flex-direction: column;

  margin: auto;
}

.container-outer > img {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
}

.container-inner {
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  margin: auto;
}

.stat-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interface-container {
  width: 100%;
  display: flex;
}

.results {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.results::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 60%;
  top: 20%;
  left: 0;
  border-left: solid #97bcff 1px;
}

.stat-lead + span {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
  height: 1em;
}

.result-output .stat-container {
  margin-top: 12px;
}

.main-quest, .dlc {
  display: flex;
  align-items: center;
}

.stat-container {
  display: flex;
  font-size: 1.5vw;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.stat-container .stat-lead {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
}

.stat-lead::after, .interface-inner .stat-container label::after {
  content: '';
  width: 7.5vw;
  display: inline-block;
  border-top: dotted #8383fb 1px;
  margin: auto;
}

.stat-container#chapter label::after {
  content: none;
}

.stat-lead::after {
  margin: 0;
  margin-left: auto;
}

label + div {

}

.interface-inner .stat-container > label {
  width: fit-content;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

input[type='number'], .stat-container span {
  width: 5vw;
  font-size: 1.5vw;
}

input[type='text']:focus {
  outline: none;
}

input[type='range'] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  border-radius: 12px;
  border: solid black 1px;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.5) 35%, rgba(0, 8, 255, 0.5) 100%);;
  background-size: cover;
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background-image: url('./assets/sommie-range.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background-image: url('./assets/sommie-range.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input[type='range']::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range'] + span {
  font-size: 1vw;
  width: fit-content;
}

input[type='number'] {
  background-color: #b4cfff;
  border: none;
  height: 1em;
  vertical-align: bottom;
  text-align: end;
  padding: 3px;
  box-shadow: 0px 0px 2px #25283d6b inset;
  transition: background-color .25s ease;
}

input[type='number']:focus {
  background-color: #85b1ff;
}

.stat-container input:focus {
  outline: none;
}

.stat-container#chapter {
  display: initial;
  font-size: .8vw;
  position: absolute;
  width: 35em;
  top: -10%;
  left: 0;
}

.stat-container#chapter label {
  margin-right: 12px;
  backdrop-filter: blur(2px);
}

.stat-container + .stat-container {
  margin-top: 12px;
}

.interface-inner, .results-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 12px 24px 12px;
  background-color: #e3edff99;
  border: solid #dde7f9 1px;
  height: calc((1.5vw + 15.75px) * 11);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.interface-inner {
  overflow: visible;
  position: relative;
}



.current-class {
  width: 17.5vw;
  font-size: 2vw;
  padding-top: 24px;
  text-align: center;
}

.result-output {
  width: 100%;
}

.waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: 17.5vw;
  height: calc((1.5vw + 15px) * 11);
  padding: 24px 12px;
  background-color: #e3edff99;
  border: solid #dde7f9 1px;
  color: #6a6a6a;
  backdrop-filter: blur(3px);

}

.class-select {
  position: absolute;
  top: 0;
  right: -30%;
  font-size: .8vw;
  height: fit-content;
  width: 7.5vw;
}

.class-select div {
  margin-top: 2.5%;
}

#calc {
  position: absolute;
  bottom: -10%;
  width: 5.5vw;
  font-size: 1vw;
  background-color: #b4cfff;
  border: solid #dde7f9 1px;
  border-radius: none;
  color: black;
  padding: 6px;

  transition: all .25s ease;
}

#calc:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px black inset;
  background-color: #85b1ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class {
  transition: all .25s ease;
}

.class#active {
  letter-spacing: 1px;
  text-decoration: line-through;
  color: #e11e1e;
}

.class:hover {
  cursor: pointer;
  letter-spacing: 1px;
}

.help {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: .8vw;
  display: flex;
  flex-direction: column;
  width: calc(0.8vw * 15);
}

.info {
  width: fit-content;
  font-size: .8vw;
  margin: auto;
  margin-bottom: 6px;
  transition: all .25s ease;
}

.info:hover {
  cursor: pointer;
  letter-spacing: 1px;
}

.info#active {
  letter-spacing: 1px;
  color: #e11e1e;
  text-decoration: line-through;
}

.help-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0;
  overflow: hidden;
  transition: all .25s;
  background-color: #f9f9f9;
}

.help-content-wrapper#active {
  padding: 12px;
  grid-template-rows: 1fr;
}

.help-content {
  min-height: 0;
  text-align: center;
  transition: grid-template-rows .25s ease;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  vertical-align: bottom;
  z-index: -1;
}
.change-display {
  display: none;
}

@media screen and (max-width: 1110px) {
  .App {
    min-height: 500px;
  }

  .container-outer {
    width: 100vw;
    height: 90%;
    min-height: 500px;
  }

  .container-outer > img {
    height: 95%;
  }


  .container-inner {
    justify-content: flex-start;
  }

  .stat-input {
    width: fit-content;
  }

  .interface-container {
    justify-content: center;
    align-items: center;
  }

  .interface-inner, .results-inner, .waiting {
    width: 330px;
    height: 365px;
    backdrop-filter: none;
  }

  .results::before {
    display: none;
  }

  .current-class {
    width: 100%;
    font-size: 16px;
  }

  .stat-container {
    font-size: 16px;
  }

  .stat-container#chapter {
    font-size: 12px;
  }

  .stat-input {
    position: relative;
    opacity: 0;
    right: 50%;
    transition: all .5s ease;
  }

  .stat-input#active {
    right: 0%;
    opacity: 1;
  }

  input[type='range'] span {
    font-size: 12px;
  }

  input[type='number'], .stat-container span {
    width: 48px;
    font-size: 16px;
  }

  input[type='range'] + span {
    font-size: 16px;
  }

  .stat-lead::after, .interface-inner .stat-container label::after {
    content: '';
    width: 75%;
    display: inline-block;
    border-top: dotted #8383fb 1px;
    margin: auto;
  }

  input[type='number'] {
    height: 1em;
    vertical-align: bottom;
    text-align: end;
    padding: 3px;
    box-shadow: 0px 0px 2px #25283d6b inset;
    transition: background-color .25s ease;
  }

  #calc {
    left: 0%;
    width: 88px;
    font-size: 16px;
  }

  .results {
    position: absolute;
    width: 100%;
    left: 100%;
    transition: all .5s ease;
  }

  .results#active {
    left: 0%;
  }

  .results > div {
    position: relative;
  }

  .class-select {
    position: absolute;
    bottom: -55px;
    top: unset;
    left: 0;
    display: flex;
    overflow: scroll;
    width: 330px;

    padding: 12px;
    background-color: #e3edff99;
    border: solid #dde7f9 1px;
  }

  .class-select div {
    flex-shrink: 0;
    font-size: 12px;
    margin-top: 0;
  }

  .class + .class {
    margin-left: 12px;
  }

  .header {
    font-size: 12px;
    background-color: #FFFFFF;
  }

  .help {
    font-size: 12px;
    width: fit-content;
  }

  .info {
    font-size: 12px;
    margin: 0;
    margin-left: auto;
    margin-right: 6px;
  }

  .help-content-wrapper {
    background-color: #FFFFFF;
  }

  .change-display {
    display: initial;
    width: 180px;
    position: absolute;
    top: 24px;
    left: 6px;
    font-size: 12px;
    display: flex;
  }

  .change-display div {
    transition: all .25s ease;
  }

  .change-display div + div {
    margin-left: 6px;
  }

  .change-display div:hover {
    cursor: pointer
  }

  .change-display div#active {
    text-decoration: line-through;
    letter-spacing: 1px;
    color: #e11e1e
  }

  @media screen and (max-width: 380px) {
    .header {
      font-size: 10px;
    }

    .container-outer img {
      height: 55%;
    }

    .info {
      font-size: 10px;
    }

    .help-content-wrapper {
      font-size: 10px;
    }

    .stat-container#chapter {
      font-size: 10px;
    }

    input[type='range'] {
      width: 64px;
    }

    input[type='range'] + span {
      font-size: 10px;
  }

    .interface-inner, .results-inner, .waiting {
      width: 240px;
    }

    .class-select {
      width: 240px;
    }

    .change-display {
      font-size: 10px;
    }
  }
}